* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: rgb(214, 224,	241);
  color: #333;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.App {
  padding: 12px;
  background-color: white;
  display: flex;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  border-radius: 10px;
}
.qr-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qr-code > h2 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
}
.qr-code > p {
  color: gray;
  text-align: center;
}
.qr-code > img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .App {
    width: 50%;
    height: 50%;
  }
  .qr-code > h2 {
    font-size: 22px;
  }
  .qr-code > p {
    font-size: 16px;
  }
}